#searchBar {
    margin: 10em auto auto auto;
}
#searchBar input[type=text] {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    display: block;
    width: 50%;
    font-size: 17px;
    padding: 0.5em;
  }